<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
        <ul>
          
            <li>At FS , we pride ourselves on revolutionizing the way you choose your fruits. Say goodbye to the uncertainty of picking the perfect fruit, and let our cutting-edge technology take the guesswork out of your shopping experience.</li>
            <li>Our innovative Fresh vs. Rotten Fruit Prediction system employs state-of-the-art artificial intelligence to analyze various factors, such as color, texture, shape, and size, to determine the freshness of your fruit accurately. This advanced technology, backed by years of research and development, ensures that you receive only the freshest and most delicious fruits every single time.</li>
            <li>Why settle for mediocre fruits when you can have the best? Our system empowers you to make informed decisions, allowing you to enjoy the juiciest, sweetest, and most flavorsome fruits at their peak ripeness. No more disappointments or surprises when you get home and discover that your fruits aren't as perfect as they seemed.</li>

        </ul>
        <ul>
          <li>Here's how it works:</li>  

                <li>Scan & Identify: Simply hold your smartphone or camera over the fruit, and our intelligent algorithm will instantly recognize and classify its freshness level.
                </li>
                <li>Real-Time Results: Within seconds, you'll receive real-time results and a clear indication of whether the fruit is fresh, ripe, or past its prime.
                </li>
                <li>
                Shop with Confidence: Armed with our Fresh vs. Rotten Fruit Prediction, you can confidently choose the best fruits, reducing food waste and optimizing your shopping experience.
                </li>    
              </ul>
    
</body>
</html>